<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/db271158c1.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/image_set.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sizes.css' %}">

    <!--// 출처 http://codepen.io/Zeneraith/pen/bdEmA-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/clock.css' %}">

    <script src="{% static 'js/csrf_token.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</head>
<body>
    <div style="height: 6rem;">
        {% if user.is_authenticated %}
            {% include 'header.html' %}
        {% endif %}
    </div>

    <div class="bg-light" style="min-height: 90vh;">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer class="container bg-light p-3 w-100 height-10vh">
        <div class="d-flex justify-content-between">
            <div>인스타 클론 코딩 ver 1.0</div>
            <a href="https://velog.io/@moning02004/series/%EC%9D%B8%EC%8A%A4%ED%83%80%EA%B7%B8%EB%9E%A8" target="_blank">
                <i class="fas fa-book font-size-1_3rem"></i>
            </a>
            <a href="https://github.com/moning02004/instar" target="_blank"><i class="fab fa-github font-size-1_3rem"></i></a>
        </div>
    </footer>

    <div class="position-fixed loading-img">
        <div class="clock"></div>
    </div>

</body>
</html>