.user-info {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.user-info .image {
    width: 20%;
    margin-right: 2.5em;
}
.user-info .image img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}
@media screen and (max-width: 1024px) {
    .user-info{
        width: 100%;
        display: block;
    }

    .user-info > .image {
        width: 100%;
        text-align: center;
    }
    
    .user-info .image img {
        width: 15rem;
        height: 15rem;
    }
}