.modal {
    position: fixed; /* Stay in place */
    z-index: 999999999999999999999; /* Sit on top */
    padding-top: 3rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal > .modal-content {
    width: 55%;
    margin: auto;
}

@media screen and (max-width: 1024px){
    .modal > .modal-content {
        width: 95%;
        margin: auto;
    }
}