<div class="modal-upload modal">
    <div class="modal-content w-75">
        <form id="post-form" action="{% url 'app_post:create' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                <label>파일</label>
                <input id="image" type="file" accept="image/*" name="images" class="" multiple>
            </div>
            <div class="form-group">
                <label>설명</label>
                <textarea class="form-control" name="content" rows="4"></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn border mr-3" type="submit">작성하기</button>
                <button class="btn border bg-danger text-white" type="button" value="cancel">취소</button>
            </div>
        </form>
    </div>
</div>
