{% extends 'base.html' %}

{% block title %}<title>반가워요.</title>{% endblock %}

{% block content %}
<div style="width: 60%; min-height: 100vh;">

    <div class="w-100 bg-white border p-3 rounded">
        즐겨찾기
    </div>

    <hr />

    <div class="post-field">
        {% for post in post_list %}
            {% include 'post/_post.html' with post=post %}
        {% endfor %}
    </div>
</div>

<div class="profile-box">
    {% include 'app_main/_main_profile.html' %}
    <hr /><p>추천 인물</p>
    {% include 'app_main/_main_recommend.html' %}
</div>

{% include 'modals/m_option.html'%}

{% load static %}

{% load static %}
<script src="{% static 'js/image.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>

{% endblock %}