.dashboard {
    position: relative;
    left: 0;
    width: 70%;
    margin: auto;
    height: 35rem;
    min-height: 35rem;
}

.timeline {
    position: absolute;
    left: 0%;
    width: 70%;
    min-height: 100%;
}
.alert {
    text-align: center;
    line-height: 3rem;
    background-color: white;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 4px;
}
.profile {
    position: absolute;
    left: 70%;
}

.timeline  > div {
    width: 90%;
    margin-bottom: 1rem;
}
.profile > div {
    position: fixed;
    width: 30%;
}

.image-content{
    height: 3rem;
}
.image-content div {
    overflow: hidden;
    white-space: nowrap;
}

.input-comment {
    position: relative;
    width: 100%;
    padding-left: 1rem;
    border: 0;
    left: 0%;
}
.send-button {
    margin-left: auto;
    padding-right: 1rem;
}

.slider {
    width: 100%;
    min-height: 20rem;
    max-height: 70vh;
    text-align: center;
}
.slider img {
    width: auto;
    max-width: 100%;
    min-height: 100%;
    max-height: 70vh;
}


@media screen and (max-width: 1024px){
    .profile {
        display: none;
    }
    .dashboard {
        position: static;
        width: 100%;
    }
    .timeline {
        width: 100%;
    }
    .timeline  > div {
        width: 95%;
        margin: auto;
        margin-bottom: 1rem;

    }
    .slider {
        height: 20rem;
    }
    .slider > img {
        max-height: 20rem;
        width: auto;
    }
}