.active {
    display: block;
}

.none {
    display: none;
}

.prev, .next {
    position: absolute;
    background-color: rgb(205, 205, 205);
    color: rgb(50, 50, 50);
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.next {
    right: 30%;
}