a {color: black;}
a:hover{text-decoration: none;color: black;}

body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

.header {
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(228, 228, 228);
    z-index: 100;
}
.header-option {
    position: relative;
    width: 70%;
    margin: auto;
    height: 3rem;
}

.start {
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}
.middle {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.end {
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.profile-box {
    width: 20%;
    position: fixed;
    left: 65%;
    top: 6rem;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
}

.pre-box {
    font-size: 1rem;
    line-height: 1.5rem;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-all;
 }

 .overflow-scroll {
    overflow-y: scroll;
    -ms-overflow=style:none;
 }
 .overflow-scroll::-webkit-scrollbar {
    display: none;
 }
.bg-select {
    background-color: rgb(228,228,228);
}

.cursor-pointer {cursor: pointer;}

.profile img {
    width: 200px;
    height: 200px;
}

textarea {
    border: 1px solid rgb(220, 220, 220);
}

.divider {
    padding: 1px;
    background-color: rgb(100, 100, 100);
}

.add-link a {
    color: rgb(50, 50, 250);
}