body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: white;
    border-bottom: 1px solid rgb(208, 208, 208);
    z-index: 100000000000000;
}
.header > div:first-child {
    width: 70%;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.logo {
    font-family: 'Ubuntu', cursive;
    font-size: 2rem;
}
.input {
    height: 1.8rem;
    border: 0.01rem solid rgb(180, 180, 180);
    border-radius: 4px;
}

.input-box {
    display: block;
    height: 2rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.auth-box {
    text-align: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    background-color: white;
    padding: 1rem;
    border: 1px solid rgb(228, 228, 228);
}
.cursor-pointer {
    cursor: pointer;
}

.user-menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
@media screen and (max-width: 1024px){
    .auth-box {
        width: 90%;
    }
    .header .search{
        display: none;
    }
    .divider{
        width: 100%;
    }
    
    .header > div:first-child {
        width: 100%;
    }
}