<div class="header-option">
    <div class="pos-rel height-10">
        <div class="position-absolute start">
            <a href="{% url 'app_main:main' %}" class="logo-font font-size-2">instar</a>
        </div>
        <div class="position-absolute middle">
            <form action="" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" placeholder="검색">
                    <div class="input-group-appends">
                        <button class="btn border" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="position-absolute end">
            <button class="btn upload-modal"><i class="fas fa-plus font-size-13"></i></button>
            <a href="{% url 'app_post:list' %}?type=explore" class="btn"><i class="fas fa-compass font-size-13"></i></a>
            <button class="btn"><i class="fas fa-heart font-size-13"></i></button>
            <a href="{% url 'app_user:profile' user.id %}" class="btn"><i class="fas fa-user font-size-13"></i></a>
        </div>
    </div>
</div>

{% include 'app_post/create.html' %}
