{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="position-relative" style="height: 90vh;">
    <div class="position-absolute bg-white h-100" style="left:0; width: 70%;">
        {% include 'post/_post_image.html' %}
    </div>

    <div class="position-absolute bg-white border-left h-100" style="left:70%; width: 30%;">
        <div class="card h-100">
            <div class="card-header">
                <div class="post-header-32px my-auto">{% include 'post/_post_profile.html' with profile=post.author %}</div>
            </div>
            <div class="card-body overflow-scroll border-bottom content height-30vh">
                <div class="ml-3 pre-box">{{ post.content }}</div>
            </div>

            <div class="card-body bg-light border-bottom overflow-scroll comment height-30vh">
                {% for comment in comment_list %}
                    {% include 'post/_comment_list.html' with comment=comment%}
                {% empty %}
                    <div class="font-size-0_75rem text-center">댓글이 아직 달리지 않았네요</div>
                {% endfor %}
            </div>

            {% include 'post/_post_heart.html' %}

            <div class="card-footer p-1">
                {% include 'post/_post_comment_form.html' with post_id=post.id %}
            </div>
        </div>
    </div>
</div>

<div class="mt-3 py-3 text-center">다른 게시물</div>
<div class="height-30vh">
    {% include 'post/_post_list.html' with post_list=post.author.post_set.all %}
</div>

{% include 'modals/m_option.html' with post=post author=post.author.id page='detail'%}

{% load static %}
<script src="{% static 'js/image.js' %}"></script>
<script src="{% static 'js/post.js' %}"></script>

{% endblock %}