{% extends 'base.html' %}

{% block content %}
<div class="position-relative" style="height: 90vh;">
    <div class="position-absolute bg-white h-100" style="left:0; width: 70%;">
        {% include 'post/_post_image.html' %}
    </div>

    <div class="position-absolute bg-white border-left h-100" style="left:70%; width: 30%;">
        <div class="card h-100">
            <div class="card-header bg-white d-flex">
                <div class="post-header">{% include 'post/_post_profile.html' with profile=post.author %}</div>
                <button class="btn p-0 ml-auto btn-option" value="{{ post.id }}"><i class="fas fa-ellipsis-v"></i>
                </button>
            </div>

            <form action="" method="post">{% csrf_token %}
                <textarea class="pre-box w-100 card-body custom-scroll" name="content" rows="5">{{ post.content }}</textarea>
                <a href="{% url 'app_post:detail' post.id %}" class="btn float-right">돌아가기</a>
                <button class="btn float-right">저장</button>
            </form>
        </div>
    </div>
</div>

<div class="mt-3 py-3 text-center">다른 게시물</div>
<div class="height-30vh">
    {% include 'post/_post_list.html' with post_list=post.author.post_set.all %}
</div>


{% load static %}
<script src="{% static 'js/image.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}