.dashboard {
    position: relative;
    width: 70%;
    top: 2rem;
    margin: auto;
}

.timeline {
    position: absolute;
    left: 0%;
    width: 70%;
}
.profile {
    position: absolute;
    left: 70%;
}

.timeline  > div {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}
.profile > div {
    position: fixed;
    width: 30%;
}

.image-content{
    height: 3rem;
}
.image-content div {
    overflow: hidden;
    white-space: nowrap;
}

.input-comment {
    position: relative;
    width: 100%;
    padding-left: 1rem;
    border: 0;
    left: 0%;
}
.send-button {
    margin-left: auto;
    padding-right: 1rem;
}

@media screen and (max-width: 1024px){
    .profile {
        display: none;
    }
    .dashboard {
        position: static;
        width: 100%;
    }
    .timeline {
        width: 100%;
    }
    .timeline  > div {
        width: 95%;
    }
}