<div class="card mb-3 post">
    <div class="card-header bg-white d-flex">
        {% include 'app_main/_profile_image.html' with profile=post.author %}
        <button class="btn p-0 ml-auto post-modal" value="{{ post.id }}"><i class="fas fa-ellipsis-v"></i></button>
    </div>

    <div class="card-body text-center"><img width='100%' src="{{ post.get_main_file.file.url }}" /></div>

    <div class="card-footer bg-white">
        <button class="btn"><i class="far fa-heart font-size-13"></i><small>{{ post.heart_set.all|length }}</small></button>
        <button class="btn"><i class="far fa-comment font-size-13"></i><small>{{ post.comment_set.all|length }}</small></button>

        <div class="content mb-4">
            <div class="text-overflow-ellipsis">{{post.content}}</div>{% if post.content|length > 30 %}<div class="more cursor-pointer float-right">더 보기</div>{% endif %}
        </div>
        <div class="my-3">
            {% for comment in post.comment_set.all|slice:"0:2" %}
                <div><b class="mr-2">{{ comment.author.name }}</b>{{ comment.content }}</div>
            {% endfor %}
        </div>

        <form action="" method="post">{% csrf_token %}
            <div class="input-group">
                <input class="form-control" name="comment" placeholder="게시"/>
                <div class="input-group-prepend">
                    <button class="btn border">게시</button>
                </div>
            </div>
        </form>
    </div>
</div>