<a href="{% url 'app_user:profile' user.id %}" class="my-auto">
    <img src="{% if profile.get_profile_image.image.url %}
                {{ profile.profile.get_profile_image.image.url }}
                {% else %}
                https://cdn.pixabay.com/photo/2016/09/01/08/24/smiley-1635449_960_720.png
                {% endif %}"
         class="img mr-3" style="width: 32px; height: 32px;" />
</a>
<a href="{% url 'app_user:profile' user.id %}" class="my-auto">
    <b>{{ profile.name }}</b>
</a>