.post-detail {
    width: 100%;
}
.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
}
.pre-box {
    font-size: 1rem;
    line-height: 1.5rem;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-all;
 }
 .overflow-scroll {
    overflow-y: scroll;
 }
 .overflow-scroll::-webkit-scrollbar {
    display: none;
 }

 .image-slider{
    border-right: 1px solid rgb(208, 208, 208);
    width: 70%;
 }
 .image-content {
    width: 30%; 
    height: 30rem;
}
.post-detail {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 4px;
    width: 70%;
    margin: auto;
}

.user-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.user-posts img{
    width: 18%;
    border: 1px solid rgb(208, 208, 208);
    margin-bottom: 2rem;
}

.posts-text {
    margin: auto;
    width: 70%;
    text-align: center;
    padding: 0.5rem;
    border-top: 1px solid rgb(208, 208, 208);
    border-bottom: 1px solid rgb(208, 208, 208);
    margin-bottom: 1rem;
}

.posts-text > .buttons  {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; 
}
@media screen and (max-width: 1024px){
    .post-detail {
        flex-wrap: 'wrap';
        display: block;
        width: 100%;
    }
    .image-content {
        width: 100%;
        height: 10rem;
    }
    .image-content .content-profile {
        display: none;
    }
    .image-slider img{
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid rgb(208, 208, 208);
    }

    .user-posts img{
        width: 30%;
    }
    .posts-text, .user-posts {
        width: 90%;
    }
    .posts-text > .buttons{
        justify-content: space-between; 
    }
}