body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}
.header {
    height: 3rem;
    display: block;
    position: relative;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.header-fixed {
    position: fixed;
    top: 0;
    z-index: 100;
}

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.logo {
    font-family: 'Lobster', 'Metal Mania', cursive;
    font-size: 2rem;
}
.input {
    height: 1.8rem;
    border: 0.01rem solid rgb(180, 180, 180);
    border-radius: 4px;
}

.input-box {
    display: block;
    height: 2rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.auth-box {
    text-align: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    background-color: white;
    padding: 1rem;
    border: 1px solid rgb(228, 228, 228);
}
.cursor-pointer {
    cursor: pointer;
}
@media screen and (max-width: 1024px){
    .auth-box {
        width: 90%;
    }
    .header .search{
        display: none;
    }
}